* {
  margin: 0;
  padding: 0;
}


body {
  background: #A9A9A9;
  background-image: url(https://i.pinimg.com/originals/ba/39/84/ba398408c7595e82ed73a1f8a03f8b90.jpg);
  background-size: 100%;
  background-position: 94% 6%;
       }

       /*brakpoint*/
@media (min-width: 400px ) {
 
}

header {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #B22222;
  ;
}

.menu a {
display: block;
padding: 8pt;

  }

.menu li {
  background-color: #B22222;
  border-radius: 10px; 
  font-family: Miriam fixed;
  font-size:14pt;
  height: 40px;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
  
  text-align: center;
  width: 340px;
   
      }

.menu ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px !important;
       }

a {
  color: white;
  text-decoration: none;
       }

a:hover {
  text-decoration: underline;
      }

.site-subtitle,
.site-title {
  /*agency fb*/
  text-align: center;
  color: white;
  }

.site-title {
  font-size: 5em;
  font-family: 'Press Start 2P', cursive;
 }

.site-subtitle {
  font-size: 2em;
  font-family: agency fb;
  margin-top: 10pt;
  }

h2 {
  color: whitesmoke;
  
}

figcaption {
  color: white;
  margin: 10pt;
    }  

.Vídeos {
  padding: 2em;
  
}

.img-portfolio {
  border-radius: 10px;
}

.Vídeos h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-bottom: 1.5em;
  
}
.Vídeos .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
 }

@media (min-width: 570px) {
  .Vídeos .grid {
    grid-template-columns: 256px 246px;}
      }

.Vídeos figure {
  text-align: center;
}
/*.img-portfólio {
  }*/
